.grid{
    -fx-background-color : rgb(169, 233, 208);
    -fx-border-color: black;
}

.game-button {
    -fx-background-color: #ddd;
    -fx-border-color: #aaa;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-text-alignment: center;
}

.game-button:hover {
    -fx-background-color: #ccc;
}

.game-button:pressed {
    -fx-background-color: #bbb;
}

.numbered-cell {
    -fx-text-fill: #005b96;
    -fx-text-alignment: center;
}

.mur-cell {
    -fx-text-fill: #8b0000;
    -fx-text-alignment: center;
}


.illuminee-cell {
    -fx-background-color: yellow;
    -fx-text-alignment: center;
}

.ampoule-cell {
    -fx-background-color: orange;
    -fx-text-alignment: center;
}

.vide-cell {
    -fx-background-color: #f2f2f2;
}

